<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentdashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'student\studentdashboard.css' %}">


<body>

</head>


    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>COLUMBIA UNIVERSITY</h2>
            </div>
            <div class="search">
                <input type="text" id="search" placeholder="search here">
                <label for="search"> <i class="fas fa-search"></i></label>
            </div>
            <i class="fas fa-bell"></i>
            <div class="user">
                <img class="slider" src="{% static 'student/user.jpg'%}" width="60px">
            </div>
        </div>
        <div class="sidebar">
            <ul>

                <li>
                    <a href="studentdashboard">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="course">
                        <i class="fas fa-user-graduate"></i>
                        <div>Courses</div>
                    </a>
                </li>
                <li>
                    <a href="result">
                        <i class="fas fa-user-graduate"></i>
                        <div>Results</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">

            <div class="activity">
                <div class="title">
                    <span class="text">Recent Applications</span>
                </div>
                
                {% if applications %}
                {% for application in applications %}
                    <div class="activity-data">
                        <div class="data name">
                            <span class="data-title">Application ID:</span>
                            <span class="data-list">{{ application.id }}</span>
                        </div>
                        <div class="data courses">
                            <span class="data-title">Courses Applied:</span>
                            <span class="data-list">{{ application.course.all|join:", " }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="activity-data">
                    <div class="data name">
                        <span class="data-list">No applications found.</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
                
               {% comment %} <div class="activity-data">
                    <div class="data ">
                        <span class=" data-title">Course name</span>

                    </div>
                    <div class="data ">
                        <span class=" data-title">duration</span>

                    </div>
                    <div class="data ">
                        <span class=" data-title">fees</span>

                    </div>

                </div>

                <div class="activity-data">
                    <div class="data name">

                        <span class="data-list">BCA</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">4 Years</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">980000</span>
                    </div>
                    
                </div>
                <div class="activity-data">
                    <div class="data name">

                        <span class="data-list">MScIT</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">3 Years</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">900000</span>
                    </div>
                    
                </div>
                <div class="activity-data">
                    <div class="data name">

                        <span class="data-list">MCA</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">2 Years</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">800000</span>
                    </div>
                    
                </div>
                <div class="activity-data">
                    <div class="data name">

                        <span class="data-list">DCA</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">2 Years</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">600000</span>
                    </div>
                    
                </div> {% endcomment %}
                

            </div>
        </div>
        
        


</body>

</html>