<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentdashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 
<body>'student\studentdashboard.css' %}">

</head>


    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>COLUMBIA UNIVERSITY</h2>
            </div>
            <div class="search">
                <input type="text" id="search" placeholder="search here">
                <label for="search"> <i class="fas fa-search"></i></label>
            </div>
            <i class="fas fa-bell"></i>
            <div class="user">
                <img class="slider" src="{% static 'student/user.jpg'%}" width="60px">
            </div>
        </div>
        <div class="sidebar">
            <ul>

                <li>
                    <a href="#">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="course">
                        <i class="fas fa-user-graduate"></i>
                        <div>Courses</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user-graduate"></i>
                        <div>Results</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">

            <div class="activity">
                <div class="title">
                    <span class="text">Recent course</span>
                </div>
                <div class="activity-data">
                    <div class="data name">
                        <span class=" data-title">Name</span>

                    </div>
                    <div class="data email">
                        <span class=" data-title">Email</span>

                    </div>
                    <div class="data phonenumber">
                        <span class=" data-title">Phone Number</span>

                    </div>
                    <div class="data Gender">
                        <span class=" data-title">Gender</span>

                    </div>


                </div>

                <div class="activity-data">
                    <div class="data name">

                        <span class="data-list">Gurnoor</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Gurnoor@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">9876543210</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Male</span>
                    </div>


                </div>
                <div class="activity-data">

                    <div class="data name">

                        <span class="data-list">Japleen</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Japleen@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">9870983670</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Female</span>
                    </div>

                </div>
                <div class="activity-data">

                    <div class="data name">

                        <span class="data-list">Jaideep</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Jaideep@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">9876543210</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Male</span>
                    </div>

                </div>
                <div class="activity-data">

                    <div class="data name">

                        <span class="data-list">Rehmat</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Rehmat@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">9812345210</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Female</span>
                    </div>

                </div>
                <div class="activity-data">

                    <div class="data name">

                        <span class="data-list">Aviraj</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Aviraj@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">9809874321</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Male</span>
                    </div>

                </div>
                <div class="activity-data">

                    <div class="data name">

                        <span class="data-list">Anmol</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Anmol@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">9988776210</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Female</span>
                    </div>

                </div>
                <div class="activity-data">

                    <div class="data name">

                        <span class="data-list">Nawab</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Nawab@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">9988776655</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Male</span>
                    </div>

                </div>
                <div class="activity-data">

                    <div class="data name">

                        <span class="data-list">Baani</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Baani@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">9881177223</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Female</span>
                    </div>

                </div>
                <div class="activity-data">

                    <div class="data name">

                        <span class="data-list">Arman</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Arman@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">8876533210</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Male</span>
                    </div>

                </div>
                <div class="activity-data">

                    <div class="data name">

                        <span class="data-list">Seerat</span>
                    </div>
                    <div class="data email">

                        <span class="data-list">Seerat@gmail.com</span>
                    </div>
                    <div class="data phonenumber">

                        <span class="data-list">9878976910</span>
                    </div>
                    <div class="data Gender">

                        <span class="data-list">Female</span>
                    </div>

                </div>

            </div>
        </div>






</body>

</html>