
/* landing page code */
* {
  padding: 0px;
  margin: 0px;
}

body,
html {
  font-family: Roboto, sans-serif, arial;
  background: #f0f3fa;
}

.college-name{
  text-align: center;
  font-size: 40px;
  color: #5a7b95;
 text-shadow : 3px 5px 5px #110202;
}

.width-100 {
  width: 100%;
  float: left;
}

.container {
  width: 1500px;
  margin: 0px auto;
}

.top-header {
  background: #5a7b95;
  padding: 5px 0px;
  border-bottom: 1px solid #3131315e;
}

.news-list {
  background: #fff;
  color: black;
  padding: 6px;
  font-size: 20px;
}

.headquote {
  font-size: 18px;
  color: #fff;
  width: 80%;
}

#photo {
  border: 3px solid rgb(63, 61, 61);
  border-radius: 50% 50%;
}

.header-menu {
  position: relative;
  box-shadow: opx 2px 5px opx #00000036;
}

.logo {
  width: fit-content;
  float: left;
}

.main-menu {
  list-style: none;
  float: right;
  margin-top: 20px;
  background-color: #5a7b95;
  padding: 10px 15px;

}

.main-menu a {
  font-weight: 500;
  color: #3a3a3a;
  font-size: 20px;
  text-decoration: none;
}

.main-menu li {
  float: left;
  padding: 10px 15px;
  background-color: #fff;
  margin: 2px 8px;
}

.main-menu li:hover{
  background-color: #5a7b95;
}
/* landing page code ends */

.btn{
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    border: .2rem solid #5a7b95;
    border-radius: .5rem;
    color: #5a7b95;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    width: 30%;

}



.btn span{
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: #5a7b95;
    color: #fff;
    margin-left: .5rem;
}

.btn:hover{
    background: #5a7b95;
    color: #fff;
  }

  .btn:hover span{
    color: #5a7b95;
    background: #fff;
    margin-left: 1rem;
  }

  .heading{
    font-size: 50px;
    text-shadow: 3px 5px 5px #7b838b;
  text-align: center;
  }

  .box-container{
    @include grid(30rem);
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .box{
    position: relative;
    width: calc((100vw / 3) - 30px);  
    margin: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

    .image h3{
      position: absolute;
      top: 0%;
      left: 2%;
      color: black;
      background: #fff;
    }

   image h3:hover .image img{
      transform: scale(1.1rem);
    }

    image h3.hide{
      display: none;
    }

    .image{
      height: 15rem;
    width: 100%;
    object-fit: cover;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 2px 0px;
    float: left;
    object-fit: cover;
    overflow: hidden;
    }

.image img{
  width: 100%;
  object-fit: cover;

}

.content{
  padding: 2rem;
  text-align: center;

  }

  .h3{
    @include titleText(2rem);

   }

   p{
    padding: 1rem 0;
    @include graphText(1.5rem)
   }

   .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-top: 2px solid black;
   }

   span{
    @include titleText(1.5rem);
   }

   i{
    color: #5a7b95;
   }