.activity .activity-data{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;


  }
.title{
  color: #5a7b95;
  font-size: 50px;
  text-shadow: 3px 5px 5px rgb(53, 42, 42); 
  text-align: center;
  
}
.activity-data .data{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15rem;

}

.activity-data .data-title{
  font-size: 30px;
  font-weight: 500;
  text-shadow: 3px 5px 5px rgb(53, 42, 42);
  margin-top: 20px;
  color:#5a7b95;
  
}
.activity-data .data .data-list {
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
  width: 100;
  white-space: nowrap;
  background: whitesmoke;
}


  



